<nav class="navbar navbar-expand-sm " style="background-color: black">
    
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <img src="/images/logo.png" alt="" style="height:35px">
      </li>
    
  </ul>
  
</nav>

