<nav class="navbar navbar-expand-sm " style="background-color: black">
    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <img src="/images/logo.png" alt="" style="height:35px">
            </li>
          
        </ul>
        <div class="dropdown">
            <a class="dropdown-toggle text-white mr-5"  data-toggle="dropdown" id="name">
              
            </a>
            <div class="dropdown-menu" style="margin-left: -50px">
              <a class="dropdown-item" href="#" id="logout">Logout</a>
              
            </div>
          </div>
    
  </nav>
  
  